section {
  min-height: 50vh;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}

/* Hero Section */
#hero-section {
  background: #f1f3ff;
}
.container {
  z-index: 10;
  position: relative;
}

h1 {
  font-style: normal;
  font-weight: bold;
}

#hero-section p {
  text-align: left;
}

.car {
  transition: 0.5s ease-out;
  z-index: 10;
}

.car:hover {
  transform: translate(0, -1rem);
}

.car_bg {
  position: absolute;
  width: 700px;
  height: 200px;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-top-left-radius: 30rem;
}

.btn-msm {
  background-color: green;
}

/* End Hero Section */
