.form-search {
  background-color: #f1f3ff;
  border-radius: 10px;
  border-radius: 1rem;
  margin-top: -45px;
  padding: 0.25rem 4rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
