/* Our Services */
h2 {
  font-weight: 700;
  font-size: 24px;
}

#our-services p {
  font-size: 16px;
  text-align: left;
}

.os_list {
  border: none;
  font-size: 16px;
}

.os_list i {
  margin-right: 15px;
}

/* End Our Services */
