header {
  position: relative;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  background: #f1f3ff;
}

.navbar {
  height: 10vh;
  position: relative;
  background: #f1f3ff;
}

.logo-brand {
  width: 100px;
  height: 34px;
  background: #0d28a6;
}

.nav-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.nav-item:hover {
  font-weight: 400;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}

.collapse {
  background-color: #f1f3ff;
}

.btn-login {
  background-color: green;
  margin-bottom: 3px;
}
