/* Why Us */
#why-us p {
  text-align: left;
}
.order-card {
  color: black;
  background-color: #f1f3ff;
}

.order-card p {
  text-align: left;
  font-size: 14px;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 20px;
  height: 210px;
}

.order-card i {
  font-size: 24px;
  margin: 8px auto;
}

.wu_icon {
  color: white;
}
/* End Why Us */
