/* Footer */
.footer {
  background-color: #f1f3ff;
}
.ft_menu li {
  padding-bottom: 8px;
}
.footer a {
  text-decoration-line: none;
  color: black;
}

.footer p {
  text-align: left;
}

.footer .logo {
  width: 100px;
  height: 34px;
  background: #0d28a6;
}

i {
  margin-left: 0;
  margin-right: 8px;
}
/* End Footer */
