/* Testimonial */
#testimonial h2,
p {
  text-align: center;
}

#testimonial .card-img {
  width: 150px;
  height: 150px;
}

#testimonial .card {
  width: 70%;
  height: 30%;
  background: #f1f3ff;
  border: none;
  border-radius: 16px;
  margin: 16px auto;
}

.btn_preNext {
  width: 3rem;
  height: 3rem;
  align-items: center;
  margin: 0 10px;
  bottom: 0;
  position: relative;
}

.carousel-item p {
  font-style: italic;
}

/* .rating i {
  margin: 0px 5px;
} */
/* End Testimonial */ ;
