@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Nunito:wght@200;300;400;600;700;900&display=swap");

* {
  font-family: Josefin Sans, sans-serif;
  scroll-behavior: smooth;
}

section {
  min-height: 50vh;
  width: 100%;
  left: 0;
  top: 0;
}

/* Responsive */
@media (max-width: 576px) {
  .bg-car {
    max-width: 1320px;
    width: 100%;
    max-height: 180px;
  }

  .d-xs-block {
    display: block !important;
  }

  .footer p,
  .ft_menu,
  .ft_icon,
  .logo {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .bg-car {
    max-width: 1320px;
    width: 100%;
    max-height: 200px;
  }
}
@media (min-width: 768px) {
  .bg-car {
    max-width: 1500px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .bg-car {
    max-width: 580px;
  }
}

@media (min-width: 1200px) {
  .bg-car {
    max-width: 700px;
  }
}
/* End Responsive */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
